# **TOPIC: String Based Assignment Problem**

1. Write a program to reverse a string.

In [1]:
name = 'om singh'
print('Reverse string is : ', name[::-1])

Reverse string is :  hgnis mo

2. Check if a string is a palindrome.

In [2]:
name = 'omo'
if name == name[::-1]:
  print(f'The enterd word is {name} a palindrome')
else:
  print(f'The entered word is {name} a not palindrome')

The enterd word is omo a palindrome

3. Convert a string to uppercase.

In [3]:
print('Upper Case ' , name.upper())

Upper Case  OMO

4. Convert a string to lowercase.

In [4]:
print('Lower Case ' , name.lower())

Lower Case  omo

5. Count the number of vowels in a string.

In [5]:
name = 'Om singh'
name = name.lower()
vowels = ('a','e','i','o','u')
c = 0
for i in range(len(name)):
  if name[i] in vowels:
    c = c + 1
  else:
    pass
print('Number Of Vowels is ', c)

Number Of Vowels is  2

6. Count the number of consonants in a string.

In [6]:
name = 'Om singh'
name = name.lower()
vowels = ('a','e','i','o','u')
c = 0
for i in range(len(name)):
  if name[i] not in vowels:
    c = c + 1
  else:
    pass
print('Number Of Consanants is ', c)

Number Of Consanants is  6

7. Remove all whitespaces from a string.

In [7]:
print('Whitespaced removed : ' ,name.replace(" ", ''))

Whitespaced removed :  omsingh

8. Find the length of a string without using the `len()` function.

In [8]:
name = 'Om singh'
name = name.lower()
c = 0
for i in name:
  c += 1
print('Length of String is ', c)

Length of String is  8

9. Check if a string contains a specific word.

In [9]:
data = 'a' in name
if data is True:
  print('The String contain variable a')
else:
  print('The String doesnot contain variable a')

The String doesnot contain variable a

10. Replace a word in a string with another word.

In [10]:
name.replace('om','sahil')

'sahil singh'

11. Count the occurrences of a word in a string.

In [11]:
print(f'The Count of s in {name} is : ' ,name.count('s'))

The Count of s in om singh is :  1

12. Find the first occurrence of a word in a string.

In [12]:
name= 'sahil singh'
print(f'The Index of s in {name} is : ' ,name.index('s'))

The Index of s in sahil singh is :  0

13. Find the last occurrence of a word in a string.

In [13]:
name= 'sahil singh'
print(f'The Index of s in {name} is : ' ,name.rfind('s'))

The Index of s in sahil singh is :  6

14. Split a string into a list of words.

In [14]:
name = 'Hi Mandalor_09'
words_list = []
for character in range(len(name)):
  if name[character] != ' ':
    words_list.append(str(name[character]))
  else:
    pass
print(words_list)

['H', 'i', 'M', 'a', 'n', 'd', 'a', 'l', 'o', 'r', '_', '0', '9']

15. Join a list of words into a string.

In [15]:
words_list = ['H', 'i', 'M', 'a', 'n', 'd', 'a', 'l', 'o', 'r', '_', '0', '9']
data = ''
for i in range(len(words_list)):
  data += str(words_list[i])
data

'HiMandalor_09'

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [16]:
name.replace(' ','_')

'Hi_Mandalor_09'

17. Check if a string starts with a specific word or phrase.

In [17]:
data = name[0] == 'H'
if data:
  print('Word starts with H')
else:
  print('Word doesnot starts with H')

Word starts with H

18. Check if a string ends with a specific word or phrase.

In [18]:
data = name[-1] == 'H'
if data:
  print('Word ends with H')
else:
  print('Word doesnot ends with H')

Word doesnot ends with H

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [19]:
name = 'hi mandalor_09'
name.title()

'Hi Mandalor_09'

20. Find the longest word in a string.

In [20]:
data = name.split()
print('Longest word data : ', max(data, key=len))

Longest word data :  mandalor_09

21. Find the shortest word in a string.

In [21]:
data = name.split()
print('Longest word data : ', min(data, key=len))

Longest word data :  hi

22. Reverse the order of words in a string.

In [22]:

name = 'hi mandalor_09'
words = name.split()
reversed_words = ' '.join(words[::-1])
reversed_words

'mandalor_09 hi'

23. Check if a string is alphanumeric.

In [23]:
data = name.isalnum()
if data:
  print('String is Alphanumeric')
if not data:
  print('String is not Alphanumeric')

String is not Alphanumeric

24. Extract all digits from a string.

In [24]:
data = []
for i in range(len(name)):
  if name[i].isnumeric():
    data.append(name[i])
data

['0', '9']

25. Extract all alphabets from a string.

In [25]:
data = []
for i in range(len(name)):
  if name[i].isalpha():
    data.append(name[i])
data

['h', 'i', 'm', 'a', 'n', 'd', 'a', 'l', 'o', 'r']

26. Count the number of uppercase letters in a string.

In [26]:
name = 'Hi Mandalor'
c = 0
for character in name:
  if character.isupper():
    c += 1
c

2

27. Count the number of lowercase letters in a string.

In [27]:
name = 'Hi Mandalor'
c = 0
for character in name:
  if not character.isupper():
    c += 1
c

9

28. Swap the case of each character in a string.

In [28]:
name = 'Hi Mandalor'
new_name = ''
for i in range(len(name)):
    if name[i].isupper():
        new_name += name[i].lower()
    else:
        if name[i].islower():
            new_name += name[i].upper()
print(new_name)

hImANDALOR

29. Remove a specific word from a string.

In [29]:
sentence = 'hi bro whats up'
words_in_sentence = list(sentence.split(' '))
remove_words = 'bro'
new_sentence = ''
if remove_words in words_in_sentence:
  words_in_sentence.remove(remove_words)
  for i in range(len(words_in_sentence)):
    new_sentence = ' '.join(words_in_sentence)
  print(new_sentence)
else:
  print('No Such Words')

hi whats up

30. Check if a string is a valid email address.

In [30]:
email = 'omS4jhk@gmail.com'
email = email.lower()
if '@' in email and '.' in email:
  print('Valid Email')
else:
  print('Invalid Email')

Valid Email

31. Extract the username from an email address string.

In [31]:
username = email.split('@')[0]
username

'oms4jhk'

32. Extract the domain name from an email address string.

In [32]:
domain = email.split('@')[1]
domain

'gmail.com'

33. Replace multiple spaces in a string with a single space.

In [33]:
name = 'HI mandalor'
name.replace(' ','   ')

'HI   mandalor'

34. Check if a string is a valid URL.

In [34]:
url = 'http://127.0.0.1:80000/'
if 'https' in url or 'http' in url:
  print('Print url is valid')
else:
  print('Print url is not valid')

Print url is valid

35. Extract the protocol (http or https) from a URL string.

In [35]:
url = 'http://127.0.0.1:80000/'
colon_index = url.find(':')
protocol = url[:colon_index]

print("Protocol:", protocol)

Protocol: http

36. Find the frequency of each character in a string.

In [36]:
url = 'http://127.0.0.1:80000/'
words_list = []

# Create a list of characters in the URL
for character in url:
    if character != ' ':
        words_list.append(character)

print('List with values is:', words_list)

new_list = []
# Create a list of unique characters
for character in words_list:
    if character not in new_list:
        new_list.append(character)

print('List with unique values is:', new_list)

# Calculate and print the frequency of each character
for char in new_list:
    print(f'Frequency of {char}:', url.count(char))

List with values is: ['h', 't', 't', 'p', ':', '/', '/', '1', '2', '7', '.', '0', '.', '0', '.', '1', ':', '8', '0', '0', '0', '0', '/']
List with unique values is: ['h', 't', 'p', ':', '/', '1', '2', '7', '.', '0', '8']
Frequency of h: 1
Frequency of t: 2
Frequency of p: 1
Frequency of :: 2
Frequency of /: 3
Frequency of 1: 2
Frequency of 2: 1
Frequency of 7: 1
Frequency of .: 3
Frequency of 0: 6
Frequency of 8: 1

37. Remove all punctuation from a string.

In [37]:
punctuation_chars = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
clean_string = ""

for char in url:
  if char not in punctuation_chars:
    clean_string += char
print('String after removing punctaution : ' , clean_string)

String after removing punctaution :  http12700180000

38. Check if a string contains only digits.

In [38]:
print('String contains only digit') if url.isnumeric() else print('String doesnot contains only digit')

String doesnot contains only digit

39. Check if a string contains only alphabets.

In [39]:
print('String contains only alphabets') if url.isalpha() else print('String doesnot contains only alphabets')

String doesnot contains only alphabets

40. Convert a string to a list of characters.

In [40]:
words_list = []

# Create a list of characters in the URL
for character in url:
    if character != ' ':
        words_list.append(character)

print('List with values is:', words_list)

List with values is: ['h', 't', 't', 'p', ':', '/', '/', '1', '2', '7', '.', '0', '.', '0', '.', '1', ':', '8', '0', '0', '0', '0', '/']

41. Check if two strings are anagrams.
Two strings are anagrams if they have the same characters, just rearranged.

In [41]:
string1 = 'listen'
string2 = 'silent'
string1 = sorted(string1)
string2 = sorted(string2)
if string1 == string2:
  print(f"'{string1}' and '{string2}' are anagrams.")
else:
  print(f"'{string1}' and '{string2}' are not anagrams.")

'['e', 'i', 'l', 'n', 's', 't']' and '['e', 'i', 'l', 'n', 's', 't']' are anagrams.

42. Encode a string using a Caesar cipher.

In [42]:
encrypted_text = ""
shift = 3
url ="om singh"
for char in url:
  if char.isalpha():  # Only encrypt alphabetic characters
    shift_amount = shift % 26  # Ensure shift stays within the alphabet
    if char.isupper():
      encrypted_char = chr(((ord(char) - ord('A') + shift_amount) % 26) + ord('A'))
    else:
      encrypted_char = chr(((ord(char) - ord('a') + shift_amount) % 26) + ord('a'))
  else:
    encrypted_char = char
    encrypted_text += encrypted_char

encrypted_text

' '

43. Decode a Caesar cipher encoded string.

In [43]:
encoded_text = encrypted_text
shift = 3
decoded_text = ""

for char in encoded_text:
    if char.isalpha():
        if char.isupper():
            decoded_char = chr(((ord(char) - ord('A') - shift) % 26) + ord('A'))
        else:
            decoded_char = chr(((ord(char) - ord('a') - shift) % 26) + ord('a'))
    else:
        decoded_char = char
    decoded_text += decoded_char

print("Decoded message:", decoded_text)

Decoded message:

44. Find the most frequent word in a string.

In [44]:
text = "apple banana apple cherry banana apple"
words = text.split()
word_counts = {}
for word in words:
    if word in word_counts:
        word_counts[word] += 1
    else:
        word_counts[word] = 1
most_common_word = max(word_counts, key=word_counts.get)
print("Most frequent word:", most_common_word)

Most frequent word: apple

45. Find all unique words in a string.

In [45]:
url = 'http://127.0.0.1:80000/'
words_list = []

# Create a list of characters in the URL
for character in url:
    if character != ' ':
        words_list.append(character)

print('List with values is:', words_list)

new_list = []
# Create a list of unique characters
for character in words_list:
    if character not in new_list:
        new_list.append(character)

print('List with unique values is:', new_list)

List with values is: ['h', 't', 't', 'p', ':', '/', '/', '1', '2', '7', '.', '0', '.', '0', '.', '1', ':', '8', '0', '0', '0', '0', '/']
List with unique values is: ['h', 't', 'p', ':', '/', '1', '2', '7', '.', '0', '8']

46. Count the number of syllables in a string.

In [46]:
text = "Hello world"
syllable_count = 0

for word in text.split():
    for char in word.lower():
        if char in "aeiou":
            syllable_count += 1

print("Syllable count:", syllable_count)

Syllable count: 3

47. Check if a string contains any special characters.

In [47]:
text = "Hello, world!"
has_special_characters = False

for char in text:
    if char in '''!()-[]{};:'"\,<>./?@#$%^&*_~''':
        has_special_characters = True
        break

if has_special_characters:
    print("The text has special characters.")
else:
    print("The text doesn't have special characters.")

The text has special characters.

48. Remove the nth word from a string.

In [48]:
text = "This is a sample sentence."
n = 3
words = text.split()

if 1 <= n <= len(words):
    del words[n - 1]

new_text = " ".join(words)
print("New text:", new_text)

New text: This is sample sentence.

49. Insert a word at the nth position in a string.

In [49]:
text = "This is a sentence."
word_to_insert = "sample"
n = 2
words = text.split()

if 0 <= n <= len(words):
    words.insert(n, word_to_insert)

new_text = " ".join(words)
print("New text:", new_text)

New text: This is sample a sentence.

50. Convert a CSV string to a list of lists.

In [50]:
csv_string = "1,John,Smith\n2,Jane,Doe\n3,Bob,Johnson"
csv_lines = csv_string.split("\n")
csv_list = []

for line in csv_lines:
    csv_list.append(line.split(","))

print("CSV List:", csv_list)

CSV List: [['1', 'John', 'Smith'], ['2', 'Jane', 'Doe'], ['3', 'Bob', 'Johnson']]

# **List Based Practice Problem :**

1. Create a list with integers from 1 to 10.

In [51]:
number = [i for i in range(1, 11)]
print(number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
number[-1]

10

2. Find the length of a list without using the `len()` function.

In [53]:
count = 0
for i in number :
  count +=1
count

10

3. Append an element to the end of a list.

In [54]:
number.append(11)
number

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

4. Insert an element at a specific index in a list.

In [55]:
number.insert(0,0)

In [56]:
number

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

5. Remove an element from a list by its value.

In [57]:
number.remove(0)
number

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

6. Remove an element from a list by its index.

In [58]:
number.pop(-1)

11

In [59]:
number

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

7. Check if an element exists in a list.

In [60]:
print('exsists in list') if int(11) in number else print('Does not exsits in list')

Does not exsits in list

8. Find the index of the first occurrence of an element in a list.

In [61]:
number = [0,1,5,8,0,5,2,3]
index = 0
a = 5
for i in number:
  if i == a:
    index = number.index(i)
print('Index is : ' ,index)

Index is :  2

9. Count the occurrences of an element in a list.

In [62]:
number = [0,1,5,8,0,5,2,5,3]
count = 0
a = 5
for i in number:
  if i == a:
    count +=1
print('Count is : ' ,count)

Count is :  3

10. Reverse the order of elements in a list.

In [63]:
number = number[::-1]
number

[3, 5, 2, 5, 0, 8, 5, 1, 0]

11. Sort a list in ascending order.

In [64]:
sorted(number)

[0, 0, 1, 2, 3, 5, 5, 5, 8]

12. Sort a list in descending order.

In [65]:
sorted(number,reverse = True)

[8, 5, 5, 5, 3, 2, 1, 0, 0]

13. Create a list of even numbers from 1 to 20.

In [66]:
number = [i for i in range(1,21) if i % 2 == 0]

In [67]:
number

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [68]:
number = [i for i in range(1,21) if i % 2 != 0]
number

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [69]:
sum(number)

100

16. Find the maximum value in a list.

In [70]:
max(number)

19

17. Find the minimum value in a list.

In [71]:
min(number)

1

18. Create a list of squares of numbers from 1 to 10.

In [72]:
square = [i*i for i in range(1,10)]
square

[1, 4, 9, 16, 25, 36, 49, 64, 81]

19. Create a list of random numbers.

In [73]:
import random as rd
numbers = [rd.randint(1, 100) for _ in range(10)]
numbers

[89, 82, 98, 34, 50, 57, 90, 81, 18, 70]

In [74]:
number

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

20. Remove duplicates from a list.

In [75]:
number = [0,1,5,8,0,5,2,5,3]
new_list=[]
[new_list.append(i)for i in number if i not in new_list]
new_list

[0, 1, 5, 8, 2, 3]

21. Find the common elements between two lists.

In [76]:
num1 = [0, 2, 5, 3, 9]
num2 = [1, 3, 5]
a = [i for i in num1 if i in num2]
a

[5, 3]

22. Find the difference between two lists.

In [77]:
b = [i for i in num1 if i not in num2]
b

[0, 2, 9]

23. Merge two lists.

In [78]:
c = a+ b
c

[5, 3, 0, 2, 9]

24. Multiply all elements in a list by 2.

In [79]:
d = [i*2 for i in c]
d

[10, 6, 0, 4, 18]

25. Filter out all even numbers from a list.

In [80]:
e = [i for i in c if i%2 == 0]
e

[0, 2]

26. Convert a list of strings to a list of integers.

In [81]:
f = ['1', '2', '3', 4]
g = list(map(lambda x: int(x), f))
g

[1, 2, 3, 4]

27. Convert a list of integers to a list of strings.

In [82]:
h = list(map(lambda x: str(x), g))
h

['1', '2', '3', '4']

28. Flatten a nested list.

In [83]:
i = [[1,2,3],[4,'om','hi']]
j = []
for x in i:
  for y in x:
    j.append(y)
j

[1, 2, 3, 4, 'om', 'hi']

29. Create a list of the first 10 Fibonacci numbers.

In [84]:
k = []
[k.append(i) if i == 0 or i == 1 else k.append(k[-1] + k[-2]) for i in range(10)]
k

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [85]:
print('Sorted') if k == sorted(k) else print('Not Sorted')

Sorted

31. Rotate a list to the left by `n` positions.

In [86]:
original_list = [1, 2, 3, 4, 5]
n = 2  # Number of positions to rotate left

rotated_list = original_list[n:] + original_list[:n]
print(rotated_list)

[3, 4, 5, 1, 2]

32. Rotate a list to the right by `n` positions.

In [87]:
original_list = [1, 2, 3, 4, 5]
n = 2  # Number of positions to right shift

right_shifted_list = original_list[-n:] + original_list[:-n]
print(right_shifted_list)

[4, 5, 1, 2, 3]

33. Create a list of prime numbers up to 50.

In [88]:
prime_numbers = []
for num in range(2, 51):
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        prime_numbers.append(num)

print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [89]:
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
n = 3
chunked_list = [original_list[i:i + n] for i in range(0, len(original_list), n)]
print(chunked_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

35. Find the second largest number in a list.

In [90]:
numbers = [15, 30, 10, 45, 20, 5]
sorted_numbers = sorted(numbers)
second_largest = sorted_numbers[-2]
print(second_largest)

30

36. Replace every element in a list with its square.

In [91]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = [num ** 2 for num in numbers]
print(squared_numbers)

[1, 4, 9, 16, 25]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [92]:
fruits = ['apple', 'banana', 'orange', 'grape']
fruit_dict = {fruit: index for index, fruit in enumerate(fruits)}
print(fruit_dict)

{'apple': 0, 'banana': 1, 'orange': 2, 'grape': 3}

38. Shuffle the elements of a list randomly.

In [93]:
import random

my_list = [1, 2, 3, 4, 5]
shuffled_list = my_list.copy()
random.shuffle(shuffled_list)
print(shuffled_list)

[4, 2, 5, 3, 1]

39. Create a list of the first 10 factorial numbers.

In [94]:
factorial_numbers = [1]
for n in range(1, 11):
    factorial_numbers.append(factorial_numbers[-1] * n)
print(factorial_numbers)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

40. Check if two lists have at least one element in common.

In [95]:
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]
have_common = any(item in list2 for item in list1)
print(have_common)

True

41. Remove all elements from a list.

In [96]:
list1.clear()
list1

[]

42. Replace negative numbers in a list with 0.

In [97]:
list1 = [-1, 5, 3, -3]
list1 = list(map(lambda x: x if x >= 0 else 0, list1))

43. Convert a string into a list of words.

In [98]:
ster = 'Ho mandalor'
list1 = ster.split()
list1

['Ho', 'mandalor']

44. Convert a list of words into a string.

In [99]:
word_list = ['apple', 'banana', 'cherry']
result_string = ' '.join(word_list)  # Join words with a space separator
print(result_string)  # Output: "apple banana cherry"

apple banana cherry

45. Create a list of the first `n` powers of 2.

In [100]:
n = 5
powers_of_2 = [2 ** i for i in range(n)]
print(powers_of_2)

[1, 2, 4, 8, 16]

46. Find the longest string in a list of strings.

In [101]:
string_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
longest_string = max(string_list, key=len)
print(longest_string)

elderberry

47. Find the shortest string in a list of strings.

In [102]:
string_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
shortest_string = min(string_list, key=len)
print(shortest_string)

date

48. Create a list of the first `n` triangular numbers.

In [103]:
n = 5
triangular_numbers = [i * (i + 1) // 2 for i in range(1, n + 1)]
print(triangular_numbers)

[1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

50. Swap two elements in a list by their indices.

In [104]:
my_list = [1, 2, 3, 4, 5]
index1 = 1
index2 = 3

my_list[index1], my_list[index2] = my_list[index2], my_list[index1]
print(my_list)

[1, 4, 3, 2, 5]

## ***Tuple Based Practice Problem :***

1. Create a tuple with integers from 1 to 5.

In [105]:
a = tuple(i for i in range(0,5))
a

(0, 1, 2, 3, 4)

2. Access the third element of a tuple.

In [106]:
a[2]

2

3. Find the length of a tuple without using the `len()` function.

In [107]:
c = 0
for i in a :
  c = c+1
c

5

4. Count the occurrences of an element in a tuple.

In [108]:
for i in a:
  print(i,'count is ',a.count(i))

0 count is  1
1 count is  1
2 count is  1
3 count is  1
4 count is  1

5. Find the index of the first occurrence of an element in a tuple.

In [109]:
for i in a:
  print(f'Index of {i}:',a.index(i))

Index of 0: 0
Index of 1: 1
Index of 2: 2
Index of 3: 3
Index of 4: 4

6. Check if an element exists in a tuple.

In [110]:
print('Present') if 8 in a else print('Not Present')

Not Present

7. Convert a tuple to a list.

In [111]:
b = list(a)
b

[0, 1, 2, 3, 4]

8. Convert a list to a tuple.

In [112]:
c = tuple(b)
c

(0, 1, 2, 3, 4)

9. Unpack the elements of a tuple into variables.

In [113]:
variable = ['a','b','c','d','e','i','j','k','l']

In [114]:
c = (0, 1, 2, 3, 4)
variable = ['a', 'b', 'c', 'd', 'e', 'i', 'j', 'k', 'l']

for i in c:
    variable[i] = c[i]
    print(variable[i])

0
1
2
3
4

In [115]:
# 10. Create a tuple of even numbers from 1 to 10.
even_numbers = tuple(num for num in range(2, 11, 2))
print(even_numbers)

# 11. Create a tuple of odd numbers from 1 to 10.
odd_numbers = tuple(num for num in range(1, 11, 2))
print(odd_numbers)

# 12. Concatenate two tuples.
tuple_12a = (1, 2, 3)
tuple_12b = (4, 5, 6)
concatenated_tuple = tuple_12a + tuple_12b
print(concatenated_tuple)

# 13. Repeat a tuple three times.
original_tuple = (1, 2, 3)
repeated_tuple = original_tuple * 3
print(repeated_tuple)

# 14. Check if a tuple is empty.
empty_tuple = ()
if not empty_tuple:
    print("Tuple is empty")

# 15. Create a nested tuple.
nested_tuple = ((1, 2, 3), ("a", "b", "c"))

# 16. Access the first element of a nested tuple.
first_element = nested_tuple[0][0]
print(first_element)

# 17. Create a tuple with a single element.
single_element_tuple = (42,)

# 18. Compare two tuples.
tuple_18a = (1, 2, 3)
tuple_18b = (1, 2, 3)
if tuple_18a == tuple_18b:
    print("Tuples are equal")

# 19. Delete a tuple.
tuple_to_delete = (1, 2, 3)
del tuple_to_delete

# 20. Slice a tuple.
original_tuple_20 = (1, 2, 3, 4, 5)
sliced_tuple = original_tuple_20[1:4]
print(sliced_tuple)

(2, 4, 6, 8, 10)
(1, 3, 5, 7, 9)
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
Tuple is empty
1
Tuples are equal
(2, 3, 4)

In [116]:
tuple_21 = (3, 7, 1, 9, 4)
max_value = tuple_21[0]
for num in tuple_21:
    if num > max_value:
        max_value = num
print(max_value)

9

22. Find the minimum value in a tuple.

In [117]:
tuple_22 = (3, 7, 1, 9, 4)
min_value = tuple_22[0]
for num in tuple_22:
    if num < min_value:
        min_value = num
print(min_value)

1

23. Convert a string to a tuple of characters.

In [118]:
string_23 = "hello"
tuple_23 = ()
for char in string_23:
    tuple_23 += (char,)
print(tuple_23)

('h', 'e', 'l', 'l', 'o')

24. Convert a tuple of characters to a string.

In [119]:
tuple_24 = ('h', 'e', 'l', 'l', 'o')
string_24 = ""
for char in tuple_24:
    string_24 += char
print(string_24)

hello

25. Create a tuple from multiple data types.

In [120]:
tuple_25 = (5, "hello", 3.14, True)

26. Check if two tuples are identical.

In [121]:
tuple_26a = (1, 2, 3)
tuple_26b = (1, 2, 3)
identical = True
for i in range(len(tuple_26a)):
    if tuple_26a[i] != tuple_26b[i]:
        identical = False
        break
print(identical)

True

27. Sort the elements of a tuple.

In [122]:
tuple_27 = (5, 2, 8, 1, 3)
sorted_tuple_27 = ()
while tuple_27:
    min_value = tuple_27[0]
    for num in tuple_27:
        if num < min_value:
            min_value = num
    sorted_tuple_27 += (min_value,)
    tuple_27 = tuple_27[:tuple_27.index(min_value)] + tuple_27[tuple_27.index(min_value) + 1:]
print(sorted_tuple_27)

(1, 2, 3, 5, 8)

28. Convert a tuple of integers to a tuple of strings.

In [123]:
tuple_28 = (5, 2, 8, 1, 3)
tuple_of_strings = ()
for num in tuple_28:
    tuple_of_strings += (str(num),)
print(tuple_of_strings)

('5', '2', '8', '1', '3')

29. Convert a tuple of strings to a tuple of integers.

In [124]:
tuple_29 = ("5", "2", "8", "1", "3")
tuple_of_integers = ()
for num_str in tuple_29:
    tuple_of_integers += (int(num_str),)
print(tuple_of_integers)

(5, 2, 8, 1, 3)

30. Merge two tuples.

In [125]:
tuple_30a = (1, 2, 3)
tuple_30b = (4, 5, 6)
merged_tuple = ()
for item in tuple_30a + tuple_30b:
    merged_tuple += (item,)
print(merged_tuple)

(1, 2, 3, 4, 5, 6)

31. Flatten a nested tuple.

In [126]:
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
flattened_tuple = ()
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        flattened_tuple += (item,)
print(flattened_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

32. Create a tuple of the first 5 prime numbers.

In [127]:
prime_numbers = ()
num = 2
while len(prime_numbers) < 5:
    is_prime = True
    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        prime_numbers += (num,)
    num += 1
print(prime_numbers)

(2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [128]:
tuple_33 = (1, 2, 3, 2, 1)
is_palindrome = True
length = len(tuple_33)
for i in range(length // 2):
    if tuple_33[i] != tuple_33[length - i - 1]:
        is_palindrome = False
        break
print(is_palindrome)

True

34. Create a tuple of squares of numbers from 1 to 5.

In [129]:
tuple_34 = ()
for num in range(1, 6):
    tuple_34 += (num ** 2,)
print(tuple_34)

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [130]:
tuple_35 = (1, 2, 3, 4, 5, 6, 7, 8, 9)
filtered_tuple_35 = ()
for num in tuple_35:
    if num % 2 != 0:
        filtered_tuple_35 += (num,)
print(filtered_tuple_35)

(1, 3, 5, 7, 9)

36. Multiply all elements in a tuple by 2

In [131]:
tuple_36 = (3, 7, 1, 9, 4)
multiplied_tuple = ()
for num in tuple_36:
    multiplied_tuple += (num * 2,)
print(multiplied_tuple)

(6, 14, 2, 18, 8)

In [132]:
import random

# 37. Create a tuple of random numbers.
random_numbers = tuple(random.randint(1, 100) for _ in range(5))
print(random_numbers)

(7, 50, 90, 6, 55)

In [133]:
# 38. Check if a tuple is sorted.
tuple_38 = (1, 2, 3, 4, 5)
is_sorted = all(tuple_38[i] <= tuple_38[i + 1] for i in range(len(tuple_38) - 1))
print(is_sorted)

True

In [134]:
# 39. Rotate a tuple to the left by `n` positions.
tuple_39 = (1, 2, 3, 4, 5)
n = 2
rotated_tuple_39 = tuple_39[n:] + tuple_39[:n]
print(rotated_tuple_39)

(3, 4, 5, 1, 2)

In [135]:
# 40. Rotate a tuple to the right by `n` positions.
tuple_40 = (1, 2, 3, 4, 5)
n = 2
rotated_tuple_40 = tuple_40[-n:] + tuple_40[:-n]
print(rotated_tuple_40)

(4, 5, 1, 2, 3)

In [136]:
# 41. Create a tuple of the first 5 Fibonacci numbers.
fibonacci_numbers = (0, 1)
while len(fibonacci_numbers) < 5:
    next_fibonacci = fibonacci_numbers[-1] + fibonacci_numbers[-2]
    fibonacci_numbers += (next_fibonacci,)
print(fibonacci_numbers)

(0, 1, 1, 2, 3)

In [137]:
# 42. Create a tuple from user input.
user_input = input("Enter comma-separated values: ")
user_tuple = tuple(user_input.split(','))

Enter comma-separated values: 1,2,3,4,5

In [138]:
# 43. Swap two elements in a tuple.
tuple_43 = (1, 2, 3, 4, 5)
index1, index2 = 1, 3
swapped_list = list(tuple_43)
swapped_list[index1], swapped_list[index2] = swapped_list[index2], swapped_list[index1]
swapped_tuple_43 = tuple(swapped_list)
print(swapped_tuple_43)

(1, 4, 3, 2, 5)

In [139]:
# 44. Reverse the elements of a tuple.
tuple_44 = (1, 2, 3, 4, 5)
reversed_tuple_44 = tuple_44[::-1]
print(reversed_tuple_44)

(5, 4, 3, 2, 1)

In [140]:
# 45. Create a tuple of the first `n` powers of 2.
n = 5
powers_of_2 = tuple(2 ** i for i in range(n))
print(powers_of_2)

(1, 2, 4, 8, 16)

In [141]:
# 46. Find the longest string in a tuple of strings.
tuple_46 = ("apple", "banana", "cherry", "date")
longest_string = max(tuple_46, key=len)
print(longest_string)

banana

In [142]:
# 47. Find the shortest string in a tuple of strings.
tuple_47 = ("apple", "banana", "cherry", "date")
shortest_string = min(tuple_47, key=len)
print(shortest_string)

date

In [143]:
# 48. Create a tuple of the first `n` triangular numbers.
n = 5
triangular_numbers = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
print(triangular_numbers)

(1, 3, 6, 10, 15)

In [144]:
# 49. Check if a tuple contains another tuple as a subsequence.
tuple_49 = (1, 2, (3, 4), 5, 6)
sub_tuple = (3, 4)
contains_sub_tuple = sub_tuple in tuple_49

In [145]:
# 50. Create a tuple of alternating 1s and 0s of length `n`.
n = 7
alternating_tuple = tuple(i % 2 for i in range(n))
print(alternating_tuple)

(0, 1, 0, 1, 0, 1, 0)

# **Set Based Practice Problem :**

In [146]:
# 1. Create a set with integers from 1 to 5.
set_1 = {1, 2, 3, 4, 5}
print(set_1)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [147]:

# 2. Add an element to a set.
set_2 = {1, 2, 3}
set_2.add(4)
print(set_2)

{1, 2, 3, 4}

In [148]:
# 3. Remove an element from a set.
set_3 = {1, 2, 3, 4}
set_3.remove(4)
print(set_3)

{1, 2, 3}

In [149]:
# 4. Check if an element exists in a set.
set_4 = {1, 2, 3, 4, 5}
element_exists = 3 in set_4
print(element_exists)

True

In [150]:
# 5. Find the length of a set without using the `len()` function.
set_5 = {1, 2, 3, 4, 5}
length = sum(1 for _ in set_5)
print(length)

5

In [151]:
# 6. Clear all elements from a set.
set_6 = {1, 2, 3, 4, 5}
set_6.clear()
print(set_6)

set()

In [152]:
# 7. Create a set of even numbers from 1 to 10.
even_numbers = {num for num in range(2, 11, 2)}
print(even_numbers)

{2, 4, 6, 8, 10}

In [153]:
# 8. Create a set of odd numbers from 1 to 10.
odd_numbers = {num for num in range(1, 11, 2)}
print(odd_numbers)

{1, 3, 5, 7, 9}

In [154]:
# 9. Find the union of two sets.
set_9a = {1, 2, 3}
set_9b = {3, 4, 5}
union_set = set_9a | set_9b
print(union_set)

{1, 2, 3, 4, 5}

In [155]:
# 10. Find the intersection of two sets.
set_10a = {1, 2, 3}
set_10b = {3, 4, 5}
intersection_set = set_10a & set_10b
print(intersection_set)

{3}

In [156]:
# 11. Find the difference between two sets.
set_11a = {1, 2, 3}
set_11b = {3, 4, 5}
difference_set = set_11a - set_11b
print(difference_set)

{1, 2}

In [157]:
# 12. Check if a set is a subset of another set.
set_12a = {1, 2}
set_12b = {1, 2, 3, 4}
is_subset = set_12a <= set_12b
print(is_subset)

True

In [158]:
# 13. Check if a set is a superset of another set.
set_13a = {1, 2, 3, 4}
set_13b = {1, 2}
is_superset = set_13a >= set_13b
print(is_superset)
# 14. Create a set from a list.
list_14 = [1, 2, 3, 4, 5]
set_from_list = set(list_14)
print(set_from_list)

True
{1, 2, 3, 4, 5}

In [159]:
# 15. Convert a set to a list.
set_15 = {1, 2, 3, 4, 5}
list_from_set = list(set_15)
print(list_from_set)

[1, 2, 3, 4, 5]

In [160]:
import random

# 16. Remove a random element from a set.
set_16 = {1, 2, 3, 4, 5}
random_element = random.choice(list(set_16))
set_16.remove(random_element)
print(set_16)

{1, 2, 4, 5}

In [161]:
# 17. Pop an element from a set.
set_17 = {1, 2, 3, 4, 5}
popped_element = set_17.pop()
print(popped_element)

1

In [162]:
# 18. Check if two sets have no elements in common.
set_18a = {1, 2, 3}
set_18b = {4, 5, 6}
no_common_elements = set_18a.isdisjoint(set_18b)
print(no_common_elements)

True

In [163]:
# 19. Find the symmetric difference between two sets.
set_19a = {1, 2, 3, 4}
set_19b = {3, 4, 5, 6}
symmetric_difference = set_19a ^ set_19b
print(symmetric_difference)

{1, 2, 5, 6}

In [164]:
# 20. Update a set with elements from another set.
set_20a = {1, 2, 3}
set_20b = {3, 4, 5}
set_20a.update(set_20b)
print(set_20a)

{1, 2, 3, 4, 5}

In [165]:
# 21. Create a set of the first 5 prime numbers.
prime_numbers = {2, 3, 5, 7, 11}
print(prime_numbers)

{2, 3, 5, 7, 11}

In [166]:
# 22. Check if two sets are identical.
set_22a = {1, 2, 3}
set_22b = {1, 2, 3}
identical = set_22a == set_22b
print(identical)

True

In [167]:
# 23. Create a frozen set.
frozen_set = frozenset({1, 2, 3, 4, 5})
print(frozen_set)

frozenset({1, 2, 3, 4, 5})

In [168]:
# 24. Check if a set is disjoint with another set.
set_24a = {1, 2, 3}
set_24b = {4, 5, 6}
disjoint = set_24a.isdisjoint(set_24b)
print(disjoint)

True

In [169]:
# 25. Create a set of squares of numbers from 1 to 5.
squares_set = {num ** 2 for num in range(1, 6)}
print(squares_set)

{1, 4, 9, 16, 25}

In [170]:
# 26. Filter out all even numbers from a set.
set_26 = {1, 2, 3, 4, 5}
filtered_set_26 = {num for num in set_26 if num % 2 != 0}
print(filtered_set_26)

{1, 3, 5}

In [171]:
# 27. Multiply all elements in a set by 2.
set_27 = {1, 2, 3, 4, 5}
multiplied_set_27 = {num * 2 for num in set_27}
print(multiplied_set_27)

{2, 4, 6, 8, 10}

In [172]:
# 28. Create a set of random numbers.
random_numbers_set = {random.randint(1, 100) for _ in range(5)}
print(random_numbers_set)

{3, 7, 43, 78, 93}

In [173]:
# 29. Check if a set is empty.
empty_set = set()
is_empty = not bool(empty_set)
print(is_empty)

True

In [174]:
# 30. Create a nested set (hint: use frozenset).
nested_set = {frozenset({1, 2}), frozenset({3, 4})}
print(nested_set)

{frozenset({3, 4}), frozenset({1, 2})}

In [175]:
# 31. Remove an element from a set using the discard method.
set_31 = {1, 2, 3, 4, 5}
set_31.discard(3)
print(set_31)  # Output: {1, 2, 4, 5}

{1, 2, 4, 5}

In [176]:
# 32. Compare two sets.
set_32a = {1, 2, 3}
set_32b = {3, 4, 5}
is_equal = set_32a == set_32b
is_subset = set_32a <= set_32b
is_superset = set_32a >= set_32b
print(is_equal)
print(is_subset)
print(is_superset)

False
False
False

In [177]:
# 33. Create a set from a string.
string = "hello"
set_from_string = set(string)
print(set_from_string)

{'o', 'h', 'l', 'e'}

In [178]:
# 34. Convert a set of strings to a set of integers.
set_34 = {"1", "2", "3"}
set_of_integers = {int(item) for item in set_34}
print(set_of_integers)

{1, 2, 3}

In [179]:
# 35. Convert a set of integers to a set of strings.
set_35 = {1, 2, 3}
set_of_strings = {str(item) for item in set_35}
print(set_of_strings)

{'2', '1', '3'}

In [180]:
# 36. Create a set from a tuple.
tuple_36 = (1, 2, 3, 4)
set_from_tuple = set(tuple_36)
print(set_from_tuple)

{1, 2, 3, 4}

In [181]:
# 37. Convert a set to a tuple.
set_37 = {1, 2, 3, 4}
tuple_from_set = tuple(set_37)
print(tuple_from_set)

(1, 2, 3, 4)

In [182]:
# 38. Find the maximum value in a set.
set_38 = {3, 6, 2, 8, 1}
max_value = max(set_38)
print(max_value)

8

In [183]:
# 39. Find the minimum value in a set.
set_39 = {3, 6, 2, 8, 1}
min_value = min(set_39)
print(min_value)

1

In [184]:
# 40. Create a set from user input.
user_input = input("Enter comma-separated values: ")
user_set = set(user_input.split(','))
print(user_set)

Enter comma-separated values: 5,6,7,2,1
{'5', '1', '7', '2', '6'}

In [185]:
# 41. Check if the intersection of two sets is empty.
set_41a = {1, 2, 3}
set_41b = {4, 5, 6}
intersection_empty = not bool(set_41a & set_41b)
print(intersection_empty)

True

In [ ]:
# 42. Create a set of the first 5 Fibonacci numbers.
fibonacci_set = {0, 1}
while len(fibonacci_set) < 5:
    next_fibonacci = list(fibonacci_set)[-1] + list(fibonacci_set)[-2]
    fibonacci_set.add(next_fibonacci)
print(fibonacci_set)

In [187]:
# 43. Remove duplicates from a list using sets.
list_43 = [1, 2, 2, 3, 4, 4, 5]
list_without_duplicates = list(set(list_43))
print(list_without_duplicates)

[1, 2, 3, 4, 5]

In [188]:
# 44. Check if two sets have the same elements, regardless of their count.
set_44a = {1, 2, 3}
set_44b = {3, 2, 1}
same_elements = set_44a == set_44b
print(same_elements)

True

In [189]:
# 45. Create a set of the first `n` powers of 2.
n = 5
powers_of_2_set = {2 ** i for i in range(n)}
print(powers_of_2_set)

{1, 2, 4, 8, 16}

In [190]:
# 46. Find the common elements between a set and a list.
set_46 = {1, 2, 3, 4, 5}
list_46 = [3, 4, 5, 6, 7]
common_elements = set_46 & set(list_46)
print(common_elements)

{3, 4, 5}

In [191]:
# 47. Create a set of the first `n` triangular numbers.
n = 5
triangular_numbers_set = {(i * (i + 1)) // 2 for i in range(1, n + 1)}
print(triangular_numbers_set)

{1, 3, 6, 10, 15}

In [192]:
# 48. Check if a set contains another set as a subset.
set_48a = {1, 2, 3, 4}
set_48b = {2, 3}
is_subset = set_48b.issubset(set_48a)
print(is_subset)

True

In [193]:
# 49. Create a set of alternating 1s and 0s of length `n`.
n = 10
alternating_set = {i % 2 for i in range(n)}
print(alternating_set)

{0, 1}

In [194]:
# 50. Merge multiple sets into one.
set_50a = {1, 2, 3}
set_50b = {3, 4, 5}
set_50c = {5, 6, 7}
merged_set = set_50a | set_50b | set_50c
print(merged_set)

{1, 2, 3, 4, 5, 6, 7}